.First-button {
  display: inline;
  background-color: transparent;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  width: 100px;
}
.First-button :hover {
  background-color: #f4511e;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
}

.primary {
  margin: 5px;
}

.box {
  background-color: #360fa0;
  padding: 15px;
  font-size: 12px;
  width: 100px;
}
/* .btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders 
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
} */
