* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.box {
  float: left;
  background-color: #e6e6e6;
  width: 50%;
  padding: 10px;
  height: 300px;
  display: inline;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
